body {
  font-family: 'Roboto', 'Open Sans', 'Trebuchet MS', 'Helvetica', sans-serif;
}
/* TODO: Get rid of this crap */
/* config */
/* helpers */
/* This too... */
/*==============================
 * media
 *==============================*/
/*==============================
 * media plain
 *==============================*/
/* This file is for juggernaut framework level mixins */
.filterActiveSet .filterActive {
  display: inline-block;
  padding: 6px 8px;
  color: white;
  background: #313131;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 4px;
  margin-bottom: 7px;
  cursor: pointer;
  font-size: 13px;
  word-wrap: break-word;
  white-space: nowrap;
  text-decoration: none; }
  .filterActiveSet .filterActive:hover {
    background: #545454; }

/* TODO: Get rid of this crap */
/* config */
/* helpers */
/* This too... */
/*==============================
 * media
 *==============================*/
/*==============================
 * media plain
 *==============================*/
/* This file is for juggernaut framework level mixins */
.filterActiveSet .filterActive {
  display: inline-block;
  padding: 6px 8px;
  color: white;
  background: #313131;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 4px;
  margin-bottom: 7px;
  cursor: pointer;
  font-size: 13px;
  word-wrap: break-word;
  white-space: nowrap;
  text-decoration: none; }
  .filterActiveSet .filterActive:hover {
    background: #545454; }

/* Pages with Forms/Filters */
fieldsets {
  border: none; }

input[type=text],
input[type=password] {
  border: solid 1px #a9a9a9;
  line-height: 12px;
  padding: 4px;
  font-size: 12px; }

input, select, button {
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: antialiased; }

label {
  cursor: pointer; }

.filter-az-wrap {
  margin-bottom: 24px;
  min-height: 34px; }

.filter-az {
  clear: both; }
  .filter-az input.search {
    display: block;
    vertical-align: top;
    margin: 3px 10px 3px 0;
    width: 145px;
    line-height: 12px;
    padding-left: 27px;
    float: left; }
    .filter-az input.search + span {
      color: #858585;
      font-size: 13px;
      position: relative;
      top: 5px; }
  .filter-az ul.horizontal {
    display: block;
    font-size: 16px;
    line-height: 31px;
    margin-left: 155px; }
    .filter-az ul.horizontal li {
      margin: 0 5px 0 0; }
    .filter-az ul.horizontal a {
      color: #D30000;
      font-weight: bold;
      display: inline-block;
      padding: 0 4px; }
    .filter-az ul.horizontal li.active a, .filter-az ul.horizontal a:hover, .filter-az ul.horizontal a.active {
      color: #FFFFFF;
      background: #000000; }
    .filter-az ul.horizontal li.disabled a {
      color: #4c4c4c;
      cursor: default; }
  .filter-az .btn-top {
    position: absolute;
    left: 100%;
    top: 100px;
    margin-left: 100px;
    opacity: 0; }
  .filter-az.sticky .btn-top {
    opacity: 1; }

div[data-filter-az-staticresults] div.az-list {
  margin-top: 60px; }
  div[data-filter-az-staticresults] div.az-list:first-child {
    margin-top: 0; }

div[data-filter-az-dynamicresults] {
  display: none; }

ul[data-filter-az-dynamicview=active] li a.active {
  background-color: transparent !important;
  color: #eb2328 !important; }
  .sticky ul[data-filter-az-dynamicview=active] li a.active {
    color: #fff !important; }

div.az-list {
  position: relative;
  padding-top: 40px; }

div.az-list:first-of-class {
  padding-top: 0; }

.list-helptext {
  display: none; }
  .list-series .list-helptext {
    display: block; }

input.search {
  padding-left: 27px;
  background-image: url("../images/juggernaut/icons/iconsSprite.png");
  background-repeat: no-repeat;
  background-position: 5px -41px; }

/*
Colors
------------------------- */
/*
Primary Colors [for testing]
DELETE AFTER SPRINT 11
---------- */
/*
Colors with Alpha Transparency
---------- */
/*
 Red
 -------
 -red-1 changed from #eb2328 to #e62429 MVL-1450
 --- */
/*
Dark
---------- */
/*
Gold
---------- */
/*
Gray and White
---------- */
/*
  Preview Colors
 ----------*/
/*
Brand colors
---------- */
/*
Background colors
---------- */
/*
SVG backgrounds
---------- */
/*
Links
---------- */
/*
Typography
------------------------- */
/*
Headers and Tabs
---------- */
/*
Headlines and Body Copy
---------- */
/*
Font baselines
---------- */
/*
Colors (continued)
------------------------- */
/*
  Accent colors
  ---------- */
/*
  Warnings
  ---------- */
/*
  Success
  ---------- */
/*
Grid
------------------------- */
/*
Media Queries Breakpoints
------------------------- */
/*
Page Builder Container
------------------------- */
/*
Pathing
------------------------- */
/*
Cards and Media Objects
------------------------- */
/*
Bioheader, Collapsible, Accordion
------------------------- */
/*
POWER SLANT
------------------------ */
/*
Browser selectors
----------------- */
.filterwidget-submitter-foot,
.filterwidget-submitter-head {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  min-height: 50px;
  line-height: 50px;
  display: none;
  width: 100%;
  position: relative !important;
  z-index: 2; }
  .filterwidget-submitter-foot:after,
  .filterwidget-submitter-head:after {
    content: '';
    display: table;
    clear: both;
    *zoom: 1; }
  .filterwidget-submitter-foot button,
  .filterwidget-submitter-head button {
    float: right; }
  .filterwidget-submitter-foot a,
  .filterwidget-submitter-head a {
    color: #fff;
    display: inline-block;
    vertical-align: middle; }

@media only screen and (min-width: 0px) and (max-width: 799px) {
  .responsive .filterwidget-submitter-head {
    display: block;
    background: #2d2d2d;
    text-align: center; }
    .responsive .filterwidget-submitter-head .filterwidget-submitter-head-pad {
      padding: 0px 9px; }
    .responsive .filterwidget-submitter-head a:first-child {
      float: left;
      width: 10%; }
    .responsive .filterwidget-submitter-head h3 {
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase; } }
.notresponsive .filterwidget-submitter-foot {
  background: #202020;
  display: block;
  padding: 0px 19px;
  padding-right: 0px;
  position: absolute;
  bottom: 0;
  z-index: 3; }
  .notresponsive .filterwidget-submitter-foot a {
    font-family: "Roboto";
    margin-top: 2px;
    width: 86px;
    text-align: center; }
    .notresponsive .filterwidget-submitter-foot a:hover {
      text-decoration: underline; }

@media only screen and (min-width: 800px) {
  html .filterwidget-submitter-foot {
    background: #202020;
    display: block;
    padding: 0px 19px;
    padding-right: 0px;
    position: absolute;
    bottom: 0;
    z-index: 3; }
    html .filterwidget-submitter-foot a {
      font-family: "Roboto";
      margin-top: 2px;
      width: 86px;
      text-align: center; }
      html .filterwidget-submitter-foot a:hover {
        text-decoration: underline; } }
.btn {
  padding-right: 0px; }

.juggernaut_listWidget input {
  display: none; }
  .lt-ie9 .juggernaut_listWidget input {
    margin: 10px 10px 5px 10px; }
    .lt-ie9 .juggernaut_listWidget input, .lt-ie9 .juggernaut_listWidget input + label {
      display: inline-block; }
    .lt-ie9 .juggernaut_listWidget input + label {
      width: 314px; }
      .lt-ie9 .juggernaut_listWidget input + label:before {
        display: none; }
  .juggernaut_listWidget input + label {
    display: block;
    padding: 13px 9px; }
    .juggernaut_listWidget input + label:before {
      content: '';
      background: url("https://i.annihil.us/u/prod/marvel/images/sprites/iconInputSpriteTerrigen.png") no-repeat;
      float: left;
      width: 30px;
      height: 21px;
      margin-right: 4px; }
    .notresponsive .juggernaut_listWidget input + label {
      padding: 11px 9px; }
    @media only screen and (min-width: 800px) {
      html .juggernaut_listWidget input + label {
        padding: 11px 9px; } }
  .juggernaut_listWidget input[type='checkbox'] + label:before {
    background-position: 5px -86px; }
  .juggernaut_listWidget input[type='checkbox']:checked + label:before {
    background-position: 5px -130px; }
  .juggernaut_listWidget input[type='radio'] + label:before {
    background-position: 5px 0px; }
  .juggernaut_listWidget input[type='radio']:checked + label:before {
    background-position: 5px -42px; }
.juggernaut_listWidget label {
  clear: both;
  text-transform: none;
  font-size: 16px; }
  @media only screen and (min-width: 0px) and (max-width: 799px) {
    .responsive .juggernaut_listWidget label {
      border-top: solid 1px #adadad; } }

.filterwidget fieldset,
.filterwidget .filterwidget-scroller {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.filterwidget .filterwidget-scroller {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  width: 100%; }
@media only screen and (min-width: 0px) and (max-width: 799px) {
  .responsive .filterwidget {
    position: fixed !important; }
    .responsive .filterwidget fieldset {
      width: 100%;
      padding-top: 50px;
      position: relative;
      top: -50px; }
    .responsive .filterwidget .txtSearch-wrap + fieldset {
      padding-top: 110px;
      position: relative;
      top: -110px; }
    .responsive .filterwidget .filterwidget-page,
    .responsive .filterwidget .filterwidget-subPg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; } }
.notresponsive .filterwidget .txtSearch-wrap + fieldset {
  padding-top: 60px;
  position: relative;
  top: -60px; }
.notresponsive .filterwidget .filterwidget-scroll-wrap-main {
  padding-top: 0px;
  position: relative;
  top: 0px; }
@media only screen and (min-width: 800px) {
  html .filterwidget .txtSearch-wrap + fieldset {
    padding-top: 60px;
    position: relative;
    top: -60px; }
  html .filterwidget .filterwidget-scroll-wrap-main {
    padding-top: 0px;
    position: relative;
    top: 0px; } }

.filterwidget .txtSearch-wrap {
  background: #e5e5e5;
  box-sizing: border-box;
  height: 60px;
  padding: 11px 14px;
  position: relative;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.filterActiveSet {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-bottom: 12px; }
  .filterActiveSet.hasActiveItems {
    max-height: 400px;
    margin-bottom: 18px; }
  .filterActiveSet .filterActiveSet-reset {
    font-size: 14px;
    color: #eb2328;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    cursor: pointer; }
  @media only screen and (min-width: 0px) and (max-width: 569px) {
    .responsive .filterActiveSet .filterActive,
    .responsive .filterActiveSet label {
      display: none !important; } }
  .notresponsive .filterActiveSet label {
    font-family: "Roboto", sans-serif;
    text-transform: none !important;
    display: block !important; }
  .notresponsive .filterActiveSet .icon-close {
    color: #949494;
    font-size: 16px;
    margin-left: 3px;
    font-size: 19px;
    margin-left: 3px;
    height: 14px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: -1px; }
  @media only screen and (min-width: 570px) {
    html .filterActiveSet label {
      font-family: "Roboto", sans-serif;
      text-transform: none !important;
      display: block !important; }
    html .filterActiveSet .icon-close {
      color: #949494;
      font-size: 16px;
      margin-left: 3px;
      font-size: 19px;
      margin-left: 3px;
      height: 14px;
      overflow: hidden;
      display: inline-block;
      position: relative;
      top: -1px; } }

.filterOuterOpts {
  margin-bottom: 20px;
  position: relative; }
  .notresponsive .filterOuterOpts {
    z-index: 79; }
  @media only screen and (min-width: 800px) {
    html .filterOuterOpts {
      z-index: 79; } }

.filterwidget form,
*[data-filterwidget-position] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-left: -18px;
  margin-top: -20px; }

.filterTabSet {
  text-transform: uppercase;
  line-height: 48px;
  /*vertical-align: top;*/
  display: inline-block; }
  .notresponsive .filterTabSet {
    margin-right: 12px;
    margin-top: 20px; }
  @media only screen and (min-width: 800px) {
    html .filterTabSet {
      margin-right: 12px;
      margin-top: 20px; } }
  .filterTabSet._inView {
    background: none;
    color: #202020; }
  .filterTabSet[data-filterwidget-position] {
    cursor: pointer; }
    .filterTabSet[data-filterwidget-position] .icon-dropdown-arrow {
      font-size: 10px;
      position: relative;
      top: -2px; }
  .filterTabSet h6 {
    font-family: "Roboto", sans-serif;
    padding: 16px 18px;
    line-height: 1em !important;
    font-size: 18px; }

.filterResultsText {
  line-height: 20px; }
  .filterResultsText span {
    text-transform: none;
    white-space: nowrap;
    font-size: 12px;
    cursor: default; }

div[data-filter-loader] {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  z-index: 9;
  background-repeat: no-repeat;
  background-position: center center; }

ul.filterwidget-nav {
  max-width: 100%; }
  ul.filterwidget-nav > li {
    cursor: pointer;
    display: block;
    /*border-bottom: solid 1px #adadad;*/
    padding: 15px 18px;
    text-transform: uppercase;
    /*font-size: 16px;*/
    font-size: 13px;
    font-weight: 800;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    ul.filterwidget-nav > li._disabled {
      background: none;
      color: #e5e5e5; }
    ul.filterwidget-nav > li[data-filter-clear] {
      background: #202020;
      color: #fff;
      text-align: right;
      text-transform: none;
      font-family: "Roboto", sans-serif; }
    .device_NOT_HASTOUCH ul.filterwidget-nav > li:hover {
      background: none; }
    ul.filterwidget-nav > li._newest {
      background: none;
      color: #eb2328 !important;
      border-right: none transparent; }
    ul.filterwidget-nav > li em {
      font-family: "Roboto", sans-serif;
      font-size: 10px;
      font-style: normal;
      margin-right: 10px;
      word-break: normal;
      white-space: nowrap;
      text-align: right;
      display: block;
      zoom: 1;
      margin-top: -10px;
      width: 130px;
      float: right;
      overflow: hidden;
      font-size: 14px;
      text-transform: none;
      margin-top: 3px; }
      .notresponsive ul.filterwidget-nav > li em {
        width: 500px; }
      @media only screen and (min-width: 760px) {
        html ul.filterwidget-nav > li em {
          width: 500px; } }
  @media only screen and (min-width: 0px) and (max-width: 799px) {
    .responsive ul.filterwidget-nav .filterSoloChk label {
      font-size: 16px;
      float: left; }
    .responsive ul.filterwidget-nav .filterSoloChk .inputCSSr {
      float: right; }
    .responsive ul.filterwidget-nav .filterSoloChk:after {
      content: '';
      display: block;
      clear: both; } }

.notresponsive .filterwidget-page {
  background: #fff !important;
  box-shadow: inset -1px 0 0 #adadad; }
.notresponsive ul.filterwidget-nav > li {
  width: 186px; }
  .notresponsive ul.filterwidget-nav > li[data-filter-clear],
  .notresponsive ul.filterwidget-nav > li em {
    display: none; }

@media only screen and (min-width: 800px) {
  html .filterwidget-page {
    background: #fff !important;
    box-shadow: inset -1px 0 0 #adadad; }
  html ul.filterwidget-nav > li {
    width: 186px; }
    html ul.filterwidget-nav > li[data-filter-clear],
    html ul.filterwidget-nav > li em {
      display: none; } }
.filterwidget {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: none;
  overflow: hidden;
  font-family: "Roboto", sans-serif; }
  .filterwidget input[type='text'] {
    margin-bottom: 0;
    border: none;
    padding-left: 20px;
    font-size: 15px;
    line-height: 15px; }
  .filterwidget button,
  .filterwidget input[type='submit'] {
    -webkit-touch-callout: none;
    -webkit-user-select: none; }
  .filterwidget._inView {
    display: block;
    z-index: 700;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .filterwidget fieldset {
    padding: 0;
    margin: 0; }
  .filterwidget .filterwidget-grid,
  .filterwidget .filterwidget-page,
  .filterwidget .filterwidget-subPg {
    height: 100%;
    min-height: 300px; }
  .filterwidget .filterwidget-subPg,
  .filterwidget .filterwidget-page {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff; }
  .filterwidget .filterwidget-subPg {
    display: block;
    margin: 0 0;
    padding: 0;
    position: absolute;
    top: 0; }
    .filterwidget .filterwidget-subPg._newest {
      z-index: 99; }
  @media only screen and (min-width: 0px) and (max-width: 799px) {
    .responsive .filterwidget._inView {
      -moz-animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      -moz-animation-name: slideRightToLeft;
      -webkit-animation-name: slideRightToLeft;
      height: 100%;
      top: 0 !important; }
    .responsive .filterwidget .filterwidget-grid.grid-container {
      margin-left: 0 !important;
      margin-right: 0 !important; }
    .responsive .filterwidget .filterwidget-subPg {
      z-index: 9;
      width: 100%; }
      .responsive .filterwidget .filterwidget-subPg, .responsive .filterwidget .filterwidget-subPg[data-filterwidget-page='orderBy'] {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        display: none; }
      .responsive .filterwidget .filterwidget-subPg._inView {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 1; } }
  .device_HASTOUCH .filterwidget ._mask {
    display: none !important; }
  .notresponsive .filterwidget {
    overflow: visible;
    -webkit-transition: top 300ms ease;
    transition: top 300ms ease; }
    .notresponsive .filterwidget._inView {
      z-index: 500;
      -moz-animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      -moz-animation-name: appear;
      -webkit-animation-name: appear; }
      .notresponsive .filterwidget._inView ._mask {
        background: transparent;
        width: 100%;
        height: 100%;
        min-height: 100px;
        position: fixed;
        top: 0;
        left: 0; }
    .notresponsive .filterwidget form {
      position: relative;
      max-width: 569px;
      -webkit-box-shadow: -3px -1px 7px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -3px -1px 7px -4px rgba(0, 0, 0, 0.75);
      box-shadow: -3px -1px 7px -4px rgba(0, 0, 0, 0.75); }
    .notresponsive .filterwidget .filterwidget-page {
      vertical-align: top;
      position: relative; }
    .notresponsive .filterwidget .filterwidget-page {
      display: inline-block;
      z-index: 2; }
    .notresponsive .filterwidget .filterwidget-subPg {
      min-width: 383px; }
      .notresponsive .filterwidget .filterwidget-subPg {
        display: none !important; }
      .notresponsive .filterwidget .filterwidget-subPg._inView, .notresponsive .filterwidget .filterwidget-subPg[data-filterwidget-page='orderBy'] {
        display: block !important;
        left: 100%; }
  @media only screen and (min-width: 800px) {
    html .filterwidget {
      overflow: visible;
      -webkit-transition: top 300ms ease;
      transition: top 300ms ease; }
      html .filterwidget._inView {
        z-index: 500;
        -moz-animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        -moz-animation-name: appear;
        -webkit-animation-name: appear; }
        html .filterwidget._inView ._mask {
          background: transparent;
          width: 100%;
          height: 100%;
          min-height: 100px;
          position: fixed;
          top: 0;
          left: 0; }
      html .filterwidget form {
        position: relative;
        max-width: 569px;
        -webkit-box-shadow: -3px -1px 7px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px -1px 7px -4px rgba(0, 0, 0, 0.75);
        box-shadow: -3px -1px 7px -4px rgba(0, 0, 0, 0.75); }
      html .filterwidget .filterwidget-page {
        vertical-align: top;
        position: relative; }
      html .filterwidget .filterwidget-page {
        display: inline-block;
        z-index: 2; }
      html .filterwidget .filterwidget-subPg {
        min-width: 383px; }
        html .filterwidget .filterwidget-subPg {
          display: none !important; }
        html .filterwidget .filterwidget-subPg._inView, html .filterwidget .filterwidget-subPg[data-filterwidget-page='orderBy'] {
          display: block !important;
          left: 100%; } }

div[data-respfilter-large] div[data-filter-loader] {
  display: none !important; }

.selectGroup {
  padding: 20px; }

.jsDateFilterSel {
  width: 190px; }
  .jsDateFilterSel.black {
    display: block;
    /*background-color: #000;*/
    border: 1px solid black; }
    .jsDateFilterSel.black select {
      color: black;
      /*&option:checked { color: white; }*/
      /*color: white;*/ }
      .jsDateFilterSel.black selectoption:not(:checked) {
        color: black; }
  .jsDateFilterSel select {
    display: block;
    background: transparent;
    border: none;
    color: black;
    font-size: 14px;
    height: 29px;
    border-radius: 0px;
    padding: 5px;
    /* If you add too much padding here, the options won't show in IE */
    width: 100%; }

.jsDateFilterSel_FROM,
.jsDateFilterSel_TO {
  display: flex; }
  .jsDateFilterSel_FROM select,
  .jsDateFilterSel_TO select {
    display: flex;
    flex: 1; }

[data-filterwidget-page] ::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background: #fff; }
[data-filterwidget-page] ::-webkit-scrollbar-button:start:decrement, [data-filterwidget-page] ::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 0;
  background-color: transparent; }
[data-filterwidget-page] ::-webkit-scrollbar-track-piece {
  padding: 3px;
  background-color: #eee;
  -webkit-border-radius: 0;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px; }
[data-filterwidget-page] ::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  -webkit-border-radius: 8px;
  margin-right: 3px; }
[data-filterwidget-page] ::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #ddd;
  -webkit-border-radius: 8px; }

/*TERRIGEN*/
#submit_browse_filter_form {
  height: 53px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #e62429;
  margin-right: 0px;
  width: 100px; }
  #submit_browse_filter_form span {
    background: none; }

input[type='checkbox'].inputCSSd + label.inputCSSr,
input[type='radio'].inputCSSd + label.inputCSSr {
  -webkit-appearance: none;
  padding: 10px;
  display: inline-block;
  position: relative;
  background-image: url("https://i.annihil.us/u/prod/marvel/images/sprites/iconInputSpriteTerrigen.png");
  background-repeat: no-repeat; }

.icon-search:before {
  content: '\23';
  color: transparent; }

.skewedBox {
  background: #e5e5e5;
  padding: 5px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  border: none; }
  .skewedBox input[type='text'] {
    background: #e5e5e5;
    padding-left: 25px;
    height: 28px;
    /* padding-top: 10px;*/
    text-transform: capitalize; }

.lnkMDCU:before {
  content: none; }

.filterTabSet {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  text-shadow: none; }
  .filterTabSet h6 {
    padding: 0px;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: bold;
    line-height: 1 !important;
    font-family: "Roboto", sans-serif; }

.JCMultiRow-movie,
.JCMultiRow-videogame,
.JCMultiRow-comic_issue {
  margin-top: 20px; }

label {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }

html .juggernaut_listWidget input + label {
  padding: 11px 9px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px; }

/*
Colors
------------------------- */
/*
Primary Colors [for testing]
DELETE AFTER SPRINT 11
---------- */
/*
Colors with Alpha Transparency
---------- */
/*
 Red
 -------
 -red-1 changed from #eb2328 to #e62429 MVL-1450
 --- */
/*
Dark
---------- */
/*
Gold
---------- */
/*
Gray and White
---------- */
/*
  Preview Colors
 ----------*/
/*
Brand colors
---------- */
/*
Background colors
---------- */
/*
SVG backgrounds
---------- */
/*
Links
---------- */
/*
Typography
------------------------- */
/*
Headers and Tabs
---------- */
/*
Headlines and Body Copy
---------- */
/*
Font baselines
---------- */
/*
Colors (continued)
------------------------- */
/*
  Accent colors
  ---------- */
/*
  Warnings
  ---------- */
/*
  Success
  ---------- */
/*
Grid
------------------------- */
/*
Media Queries Breakpoints
------------------------- */
/*
Page Builder Container
------------------------- */
/*
Pathing
------------------------- */
/*
Cards and Media Objects
------------------------- */
/*
Bioheader, Collapsible, Accordion
------------------------- */
/*
POWER SLANT
------------------------ */
/*
Browser selectors
----------------- */
/*
Clearfix
------------------------- */
/* HEADERS */
/* Labels/Tabs/CTAs */
/* Body */
/* Other */
body {
  min-width: 960px;
}
.internal-scroll {
  height: 50%;
  font-family: monospace;
  -webkit-overflow-scrolling: touch;
  overflow: scroll; }

body.devHome,
#community-help,
#community-index,
#html-page-index,
#error-error {
  /** TOPNAV AND FOOTER WIDGETS **/ }
  body.devHome .page-header,
  body.devHome .module-header,
  #community-help .page-header,
  #community-help .module-header,
  #community-index .page-header,
  #community-index .module-header,
  #html-page-index .page-header,
  #html-page-index .module-header,
  #error-error .page-header,
  #error-error .module-header {
    font-size: 2em; }
  body.devHome h1, body.devHome h2, body.devHome h3, body.devHome h4,
  #community-help h1,
  #community-help h2,
  #community-help h3,
  #community-help h4,
  #community-index h1,
  #community-index h2,
  #community-index h3,
  #community-index h4,
  #html-page-index h1,
  #html-page-index h2,
  #html-page-index h3,
  #html-page-index h4,
  #error-error h1,
  #error-error h2,
  #error-error h3,
  #error-error h4 {
    font-family: "Roboto";
    font-weight: bold; }
  body.devHome a,
  #community-help a,
  #community-index a,
  #html-page-index a,
  #error-error a {
    cursor: pointer; }
  body.devHome .code-inline code,
  #community-help .code-inline code,
  #community-index .code-inline code,
  #html-page-index .code-inline code,
  #error-error .code-inline code {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    font-family: monospace;
    font-size: 1em;
    padding: 2px 7px; }
  body.devHome #marvel_topnav, body.devHome #marvel_subnav, body.devHome #marvel_footer, body.devHome .marvel_footer_sub_wrapper, body.devHome .marvel_footer_sub_partners_wrapper,
  #community-help #marvel_topnav,
  #community-help #marvel_subnav,
  #community-help #marvel_footer,
  #community-help .marvel_footer_sub_wrapper,
  #community-help .marvel_footer_sub_partners_wrapper,
  #community-index #marvel_topnav,
  #community-index #marvel_subnav,
  #community-index #marvel_footer,
  #community-index .marvel_footer_sub_wrapper,
  #community-index .marvel_footer_sub_partners_wrapper,
  #html-page-index #marvel_topnav,
  #html-page-index #marvel_subnav,
  #html-page-index #marvel_footer,
  #html-page-index .marvel_footer_sub_wrapper,
  #html-page-index .marvel_footer_sub_partners_wrapper,
  #error-error #marvel_topnav,
  #error-error #marvel_subnav,
  #error-error #marvel_footer,
  #error-error .marvel_footer_sub_wrapper,
  #error-error .marvel_footer_sub_partners_wrapper {
    max-width: 940px; }
  body.devHome .marvel_footer_sub_partners_wrapper a:first-child,
  #community-help .marvel_footer_sub_partners_wrapper a:first-child,
  #community-index .marvel_footer_sub_partners_wrapper a:first-child,
  #html-page-index .marvel_footer_sub_partners_wrapper a:first-child,
  #error-error .marvel_footer_sub_partners_wrapper a:first-child {
    padding-left: 0; }
  body.devHome #marvel_topnav.inner,
  #community-help #marvel_topnav.inner,
  #community-index #marvel_topnav.inner,
  #html-page-index #marvel_topnav.inner,
  #error-error #marvel_topnav.inner {
    margin: auto; }
  body.devHome #topnav-js,
  #community-help #topnav-js,
  #community-index #topnav-js,
  #html-page-index #topnav-js,
  #error-error #topnav-js {
    position: relative;
    z-index: 999; }
  body.devHome #marvel_subnav_wrapper,
  #community-help #marvel_subnav_wrapper,
  #community-index #marvel_subnav_wrapper,
  #html-page-index #marvel_subnav_wrapper,
  #error-error #marvel_subnav_wrapper {
    font-family: "RobotoCondensed Bold", sans-serif;
    position: relative;
    z-index: 9; }
  body.devHome #footer-js, body.devHome #topnav-js,
  #community-help #footer-js,
  #community-help #topnav-js,
  #community-index #footer-js,
  #community-index #topnav-js,
  #html-page-index #footer-js,
  #html-page-index #topnav-js,
  #error-error #footer-js,
  #error-error #topnav-js {
    background-color: #000; }
  body.devHome #footer-js,
  #community-help #footer-js,
  #community-index #footer-js,
  #html-page-index #footer-js,
  #error-error #footer-js {
    padding-top: 30px; }
  body.devHome #mvl-nav-ftr, body.devHome #mvl-nav-top,
  #community-help #mvl-nav-ftr,
  #community-help #mvl-nav-top,
  #community-index #mvl-nav-ftr,
  #community-index #mvl-nav-top,
  #html-page-index #mvl-nav-ftr,
  #html-page-index #mvl-nav-top,
  #error-error #mvl-nav-ftr,
  #error-error #mvl-nav-top {
    max-width: 940px;
    margin: auto; }

#docs-idocs #instructions {
  background: url(/i/images/developers/docs-bg.jpg) no-repeat top center #fff;
  min-height: 305px; }
  #docs-idocs #instructions h4 {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px; }
  #docs-idocs #instructions ol {
    padding-left: 40px; }
    #docs-idocs #instructions ol li {
      font-size: 1em;
      padding-bottom: 0; }
  #docs-idocs #instructions .main-copy {
    width: 33%; }
#docs-idocs #swagger-docs .no-key {
  color: #f0141e;
  font-family: "Roboto";
  font-weight: bold; }
  #docs-idocs #swagger-docs .no-key a {
    color: #f0141e; }
    #docs-idocs #swagger-docs .no-key a:hover {
      color: black; }
#docs-idocs #swagger-docs #swagger-ui-container {
  margin-top: 20px; }
  #docs-idocs #swagger-docs #swagger-ui-container h1, #docs-idocs #swagger-docs #swagger-ui-container h2, #docs-idocs #swagger-docs #swagger-ui-container h3, #docs-idocs #swagger-docs #swagger-ui-container h4 {
    font-family: "Roboto";
    font-weight: bold;
    font-weight: normal; }
  #docs-idocs #swagger-docs #swagger-ui-container h2 {
    font-size: 1.5em; }
  #docs-idocs #swagger-docs #swagger-ui-container h3 {
    font-size: 1.17em; }
  #docs-idocs #swagger-docs #swagger-ui-container label, #docs-idocs #swagger-docs #swagger-ui-container input, #docs-idocs #swagger-docs #swagger-ui-container textarea, #docs-idocs #swagger-docs #swagger-ui-container option {
    text-transform: none;
    font-family: inherit;
    font-size: inherit; }
  #docs-idocs #swagger-docs #swagger-ui-container input[type="text"] {
    width: inherit;
    height: inherit;
    line-height: inherit;
    padding: 1px; }
  #docs-idocs #swagger-docs #swagger-ui-container select[multiple] {
    height: inherit;
    overflow: inherit; }
  #docs-idocs #swagger-docs #swagger-ui-container .propDesc, #docs-idocs #swagger-docs #swagger-ui-container .propType {
    color: #990F1D; }
  #docs-idocs #swagger-docs #swagger-ui-container ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.response div.block {
    background-color: #fff;
    border: 1px solid black;
    border-color: #fff; }
  #docs-idocs #swagger-docs #swagger-ui-container ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content h4 {
    color: #000;
    font-family: "Roboto";
    font-weight: bold; }
  #docs-idocs #swagger-docs #swagger-ui-container pre {
    background-color: #fff;
    border: 0;
    border-color: #fff; }

#community-help {
  /** FANCY DROPDOWN **/ }
  #community-help .site-container {
    min-height: 860px; }
  #community-help .half-box {
    width: 47%; }
  #community-help .bgimage {
    position: absolute;
    padding-left: 46%;
    top: 0; }
  #community-help .main-copy {
    letter-spacing: 1.02;
    line-height: 1.5em;
    margin-bottom: 30px; }
  #community-help form#help-form > div {
    margin-top: 15px; }
  #community-help form#help-form label {
    text-transform: none;
    font-size: 1em; }
  #community-help form#help-form span.deadpool {
    font-size: 0.8em; }
  #community-help form#help-form input {
    border: 1px solid #ccc;
    height: 35px;
    text-transform: none;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 2px; }
  #community-help form#help-form textarea {
    display: block;
    width: 100%;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    text-transform: none;
    font-size: 1em; }
  #community-help form#help-form .error {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 0.8em;
    color: #f0141e; }
  #community-help form#help-form #submitFeedback {
    text-transform: none;
    width: 120px;
    font-size: 1.1em;
    float: right; }
  #community-help div.columnFieldboth {
    border: 1px solid #ccc;
    height: 35px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 2px;
    position: relative;
    width: 100%; }
    #community-help div.columnFieldboth .icon-dropdown-arrow {
      position: absolute;
      font-size: 10px;
      left: 94%;
      top: 12px; }
    #community-help div.columnFieldboth select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      width: 105% !important;
      padding: 4px;
      line-height: 1.5em;
      border: 0;
      border-radius: 0;
      height: 35px;
      padding-top: 3px;
      margin-top: 0;
      position: relative;
      z-index: 1; }

#community-index .bgimage {
  position: absolute;
  padding-left: 33%;
  top: 0; }
#community-index .main-copy {
  width: 53%;
  line-height: 1.5em;
  margin-top: 200px;
  margin-bottom: 30px; }
#community-index .grid-container .module-header {
  display: none; }

#account-apiaccount #account-module {
  background: url("/i/images/developers/account-bg.jpg") no-repeat center top #fff;
  min-height: 1000px; }
  #account-apiaccount #account-module .account-details {
    width: 48%; }
    #account-apiaccount #account-module .account-details h4,
    #account-apiaccount #account-module .account-details .member-name {
      font-family: "Roboto";
      font-weight: bold; }
    #account-apiaccount #account-module .account-details .account-details-sub {
      margin-top: 25px; }
      #account-apiaccount #account-module .account-details .account-details-sub h4 {
        margin-bottom: 20px; }
      #account-apiaccount #account-module .account-details .account-details-sub .rate-limit {
        height: 60px;
        width: 100%; }
        #account-apiaccount #account-module .account-details .account-details-sub .rate-limit > div {
          display: inline-block;
          height: 60px; }
        #account-apiaccount #account-module .account-details .account-details-sub .rate-limit div:nth-child(1) {
          width: 22%; }
        #account-apiaccount #account-module .account-details .account-details-sub .rate-limit div:nth-child(2) {
          text-align: center;
          line-height: 0.5em;
          width: 26%;
          vertical-align: middle; }
          #account-apiaccount #account-module .account-details .account-details-sub .rate-limit div:nth-child(2) h1 {
            font-size: 2.5em; }
        #account-apiaccount #account-module .account-details .account-details-sub .rate-limit div:nth-child(3) {
          width: 47%;
          position: relative;
          top: 10px; }
      #account-apiaccount #account-module .account-details .account-details-sub .see-all {
        font-family: inherit;
        font-size: inherit; }
    #account-apiaccount #account-module .account-details .apikey {
      border: 1px solid #ccc;
      line-height: 2em;
      margin-bottom: 10px;
      text-align: center;
      width: 100%; }
    #account-apiaccount #account-module .account-details form#referrers a.remove-button,
    #account-apiaccount #account-module .account-details form#referrers a#newReferrer {
      color: #f0141e;
      cursor: pointer;
      font-font-family: "Roboto";
      font-font-weight: bold;
      font-size: 0.9em; }
    #account-apiaccount #account-module .account-details form#referrers button {
      float: right; }
    #account-apiaccount #account-module .account-details form#referrers ul#referrerHolder {
      list-style: none; }
      #account-apiaccount #account-module .account-details form#referrers ul#referrerHolder li {
        position: relative; }
        #account-apiaccount #account-module .account-details form#referrers ul#referrerHolder li .ref-error {
          background-color: #ffeeee;
          border: 1px solid #ff0000;
          font-family: "Roboto";
          font-weight: bold;
          padding: 0 10px;
          position: absolute;
          left: 102%;
          top: 0;
          height: 25px;
          line-height: 25px;
          white-space: nowrap; }
    #account-apiaccount #account-module .account-details form#referrers input {
      font-size: inherit;
      width: inherit;
      text-transform: none;
      padding-left: 4px;
      width: 90%; }
    #account-apiaccount #account-module .account-details form#referrers textarea {
      display: block;
      width: 100%;
      height: 150px;
      margin-top: 5px;
      margin-bottom: 2px;
      border: 1px solid #ccc;
      text-transform: none;
      font-size: 1em; }
    #account-apiaccount #account-module .account-details form#referrers .submitmessage {
      float: left;
      font-family: "Roboto";
      font-weight: bold;
      height: 34px;
      line-height: 34px;
      margin: 10px 0;
      text-align: center;
      text-transform: uppercase;
      width: 78%; }
      #account-apiaccount #account-module .account-details form#referrers .submitmessage.successful {
        background-color: #e8ffcd;
        border: 1px solid #73d500; }
      #account-apiaccount #account-module .account-details form#referrers .submitmessage.erroneous {
        background-color: #ffeeee;
        border: 1px solid #ff0000; }

#signup-signup .dev-signupform {
  margin: 0 0 30px; }
  #signup-signup .dev-signupform form {
    height: 60px;
    line-height: 60px; }
    #signup-signup .dev-signupform form label {
      font-size: 1.1em;
      vertical-align: middle; }

#signup-pleasesignin .signinModule .right {
  float: none;
  margin: auto; }
  #signup-pleasesignin .signinModule .right .newaccount {
    float: right;
    top: -5px;
    position: relative;
    font-family: "Roboto";
    font-weight: bold;
    margin-bottom: 30px; }
#signup-pleasesignin .signinModule h4 {
  margin-bottom: 5px; }
#signup-pleasesignin .signinModule .checkoutModule input[type="password"],
#signup-pleasesignin .signinModule .checkoutModule input[type="email"] {
  width: 90%; }

/** Documentation & Terms pages, hosted on Galactus - wrap them in this class. **/
.doc-styling h1, .doc-styling h2, .doc-styling h3, .doc-styling h4, .doc-styling a, .doc-styling strong, .doc-styling .bold-line {
  font-family: "Roboto";
  font-weight: bold; }
.doc-styling h1 {
  font-size: 1.5em; }
.doc-styling h2 {
  font-size: 1.5em;
  padding: 40px 0 10px 0; }
.doc-styling h3 {
  font-size: 1.1em;
  padding-top: 10px; }
.doc-styling .bold-line, .doc-styling strong {
  font-size: 1.05em; }
.doc-styling p, .doc-styling ul, .doc-styling ol {
  line-height: 1.4em; }
.doc-styling ul, .doc-styling ol {
  margin: 16px 0;
  padding-left: 40px; }
.doc-styling pre, .doc-styling code {
  border: 1px solid #ddd;
  font-family: monospace; }
.doc-styling code {
  font-size: 1em;
  padding: 2px 7px;
  background-color: #f4f4f4; }
.doc-styling pre {
  padding: 20px;
  padding-left: 40px;
  white-space: pre-line;
  background-color: #fcfcfc; }
  .doc-styling pre code {
    padding: 0;
    background-color: transparent;
    border: none; }
.doc-styling table {
  margin: 3px 0 30px 0; }
  .doc-styling table th {
    line-height: 20px;
    font-family: "Roboto";
    font-weight: bold;
    background-color: #eee;
    border: 1px solid #ddd;
    padding-left: 5px; }
  .doc-styling table td {
    border: 1px solid #ddd;
    padding: 4px 7px;
    font-size: 13px; }
  .doc-styling table tr {
    line-height: 18px; }
  .doc-styling table tr, .doc-styling table th {
    vertical-align: top;
    font-size: 14px;
    text-align: left; }
    .doc-styling table tr:nth-child(1), .doc-styling table th:nth-child(1) {
      width: 130px; }
    .doc-styling table tr:nth-child(2), .doc-styling table th:nth-child(2) {
      width: 190px; }
    .doc-styling table tr:nth-child(3), .doc-styling table th:nth-child(3) {
      width: 620px; }
.doc-styling .image-box {
  margin-bottom: 30px; }
  .doc-styling .image-box .box-wrapper {
    background-color: #f4f4f4;
    display: inline-block; }
    .doc-styling .image-box .box-wrapper h3.box-header {
      border-color: #ddd;
      border-width: 1px 1px 0;
      border-style: solid;
      padding: 5px 10px; }
    .doc-styling .image-box .box-wrapper .box-body {
      border: 1px solid #ddd;
      padding: 8px; }
      .doc-styling .image-box .box-wrapper .box-body > aside {
        display: inline-block;
        vertical-align: top; }
      .doc-styling .image-box .box-wrapper .box-body aside.left {
        margin-right: 5px;
        min-width: 270px; }
      .doc-styling .image-box .box-wrapper .box-body aside.right table {
        background-color: #fff;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 1.1em;
        margin: 0px; }
        .doc-styling .image-box .box-wrapper .box-body aside.right table td {
          min-width: 130px; }

/** devHome is an openHTML page, so the CSS is in Galactus. Included here for dev **/
/* #index-index.devHome {
    .devportal-banner {
        background: url("https://i.annihil.us/u/prod/marvel/i/mg/8/e0/52bdf830aa094.jpg") no-repeat center center #0A1117;
        height: 436px;
        .skew-box{
            position: absolute;
            height: 436px;
            width: 64%;
            margin-left: -65px;
            background-color: rgba(15,15,15,0.8);
            transform: skew(-11deg);
            -o-transform: skew(-11deg);
            -moz-transform: skew(-11deg);
            -webkit-transform: skew(-11deg);
            z-index: 0;
        }
        .main-copy {
            width: 52%;
            color: white;
            z-index: 1;
            position: relative;
            .headline {
                font-size: 2.8em;
                letter-spacing: -0.02em;
                line-height: 1;
                padding-top: 60px;
                text-transform: uppercase;
                span.line2 {
                    font-size: 1.31em;
                }
                span.line3 {
                    font-size: 1.18em;
                }
            }
            .subcopy {
                line-height: 1.4em;
                padding-top: 20px;
                font-size: 1.1em;
            }
            button {
                float: right;
                margin-top: 20px;
                width: 160px;
                &.btn-border {
                    &:before {
                        border: 2px solid #fff;
                        border-right: 0;
                    }
                    &:after {
                        border: 2px solid #fff;
                        border-left: 0;
                    }
                    span {
                        border-top: 2px solid #fff;
                        border-bottom: 2px solid #fff;
                    }
                }
            }
        }
    }
    .devportal-details {
        margin: 50px auto;
        .detail-box {
            clear: left;
            display: inline-block;
            height: 100px;
            margin: auto;
            padding: 1%;
            width: 30%;
            vertical-align: top;
            &.div-lines {
                border-width: 0 1px;
                border-color: #eaeaea;
                border-style: solid;
            }
            .detail-link {
                font-size: 1.4em;
                line-height: 49px;
                margin-left: 8px;
                .dev-icon {
                    float: left;
                }
                .icon-user:before {
                    content: "N";
                    color: #272822;
                    display: block;
                    float: left;
                    font-size: 40px;
                    line-height: 49px;
                    width: 49px;
                }
            }
            .detail-copy {
                font-size: 0.9em;
                margin-left: 57px;
            }
        }
    }

} */
section.hide, div.hide {
  display: none; }

.promoContainer {
  margin-top: 15px;
  padding-right: 20px;
  /* Sign in Form */
  /* ERROR HANDLING FOR VALIDATION AND WELL ... USER ERRORS */
  /* FORGOT PASSWORD SECTION */
  /* CREATE an ACCOUNT section */
  /* I FORGOT WHAT THIS IS BEFORE */
  /* TOOLTIP YO */ }
  .promoContainer .left {
    margin-left: 0;
    width: 48%; }
    .promoContainer .left .checkoutModule {
      padding-right: 5%; }
  .promoContainer .right {
    width: 48%; }
  .promoContainer #rememberme-label {
    display: inline; }
  .promoContainer #rememberme-element {
    display: inline; }
    .promoContainer #rememberme-element label {
      float: left; }
  .promoContainer #rememberme {
    float: left; }
  .promoContainer label.required:after {
    content: "*";
    color: #F0141E; }
  .promoContainer .btn-blk {
    width: 85% !important;
    margin: 15px 0px; }
    .promoContainer .btn-blk:before, .promoContainer .btn-blk:after {
      background-color: black; }
  .promoContainer span.username-row-element input {
    margin-bottom: 15px; }
  .promoContainer .errorMessage {
    display: none; }
    .promoContainer .errorMessage span {
      display: block;
      color: #F0141E !important;
      position: relative;
      top: -3px; }
    .promoContainer .errorMessage i {
      float: left;
      background-color: #F0141E !important;
      color: white;
      font-weight: bold;
      padding: 1px 6px;
      border-radius: 20px;
      font-size: 12px;
      font-style: normal;
      margin-right: 5px;
      margin-bottom: 10px; }
  .promoContainer .errorWrapper li {
    font-size: 15px;
    color: #F0141E;
    margin-left: 20px;
    line-height: 26px;
    list-style: none outside none; }
  .promoContainer .errorWrapper li.icon-exclamation:before {
    font-family: 'Marvelicons';
    position: absolute;
    left: 0; }
  .promoContainer .password_error #password,
  .promoContainer .username_error #username {
    border: 1px solid #F0141E !important; }
  .promoContainer .username_error label.required,
  .promoContainer .password_error label.required {
    color: #F0141E !important; }
  .promoContainer section.infoForm a.block {
    display: block;
    margin-bottom: 15px;
    text-decoration: none; }
    .promoContainer section.infoForm a.block:after {
      content: '\00BB';
      padding-left: 5px;
      color: #F0141E; }
  .promoContainer #forgotpwd a.btn {
    width: 86%;
    margin-bottom: 20px; }
  .promoContainer section.forgot_password_cont {
    min-height: 100px; }
  .promoContainer .registerUser label {
    display: block; }
  .promoContainer .registerUser select {
    background: transparent;
    width: 133% !important;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 26px;
    -webkit-appearance: none;
    padding-top: 1px;
    margin-top: 0; }
  .promoContainer div.columnFieldboth {
    height: 26px;
    overflow: hidden;
    background: url(/i/images/juggernaut/icons/iconArrows.png) no-repeat 92% -7px #fff;
    border: 1px solid #000;
    float: left;
    width: 28%;
    margin-right: 3%;
    position: relative;
    background: none; }
    .promoContainer div.columnFieldboth select {
      position: relative;
      z-index: 100; }
    .promoContainer div.columnFieldboth span {
      position: absolute;
      right: 0;
      display: block;
      background: black;
      width: 18px;
      height: 100%; }
      .promoContainer div.columnFieldboth span b {
        position: absolute;
        top: 47%;
        left: 25%;
        display: block;
        width: 0;
        height: 100%;
        color: #FFF;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #FFF; }
  .promoContainer div.columnFieldboth.error {
    border: 1px solid #F0141E; }
    .promoContainer div.columnFieldboth.error span {
      background: #F0141E; }
  .promoContainer #submit-label, .promoContainer #promocode-label {
    display: none; }
  .promoContainer #submit {
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
    display: block;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    height: 47px;
    cursor: pointer;
    color: white !important;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: bold;
    line-height: 47px;
    font-size: 15px;
    outline: 0; }
  .promoContainer .left .checkoutModule input[type="text"],
  .promoContainer .checkoutModule input[type="password"],
  .promoContainer .checkoutModule input[type="email"] {
    width: 90%; }
  .promoContainer fieldset > label {
    padding-bottom: 6px; }
  .promoContainer div.tooltip.dialogHelp {
    right: auto;
    margin-top: auto;
    max-width: 60%; }
    .promoContainer div.tooltip.dialogHelp .notch {
      top: 15px; }

/* START OF MEDIA QUERIES */
@media only screen and (min-width: 0px) and (max-width: 570px) {
  .responsive .promoContainer .right {
    width: 100%;
    float: none; }
  .responsive .promoContainer .left {
    width: 100%;
    float: none; }
  .responsive .promoContainer #promocode-element {
    width: 50%; } }
@media only screen and (min-width: 570px) and (max-width: 800px) {
  .responsive div.columnFieldboth {
    width: 92%;
    float: none; }
  .responsive .promo_redeem.left {
    width: 100%; }
  .responsive .termsWrap label.choice {
    width: 81%; } }
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .responsive #promocode #promocode-element {
    width: 90% !important; }
  .responsive #promocode a.btn-red {
    float: none;
    width: 90%; }
  .responsive div.columnFieldboth {
    width: 92%;
    float: none; }
  .responsive .termsWrap label.choice {
    width: 81%; } }
