*{
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: black ;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

section .image{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: cover;
}

header{
    position: absolute;
    top: 0;
    left: 50%;
    width: 90;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header .logo{
    position: absolute;
    bottom: 0;
    text-align: center;
    max-width: 70px;
}

.container{
    padding: 100px;
    display: inline-block;
}

.card{
    border-radius: 10px;
    opacity: 0.8;
    height: 380px;
    width: 300px;
    background-size:  200px 100px;
    display: inline-block;
    background-color:  gray;
    color: #fff;
    position: relative;
    margin: 30px;
    padding: 10px;
}

.card:hover{
    transition: 0.5s;
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}

.card img{
    border-radius: 10px;
    width: 200px ;
    height: 200px;
    margin: 70px;
    margin-top: 10px;
}

.card .title{
    text-align: center;
    font-size: 10px;
}

 h1{
    text-align: center;
    margin: 10px;
    font-size: 15px;
}

h2{
    bottom: 15px;
    font-size: 15px;
    text-align: center;
    margin: 5px;
}

#daire1{
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 95px;
    left: 5px;
    float: left;
}

#daire2{
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 160px;
    left: 5px;
    float: left;
}

#daire3{
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 30px;
    left: 5px;
    float: left;
}

#daire1:hover{
    padding: 15px;
    background-color: #42a5f5;
    cursor: pointer;
    transition: 0.4s;
}

#daire2:hover{
    padding: 15px;
    background-color: red;
    cursor: pointer;
    transition: 0.4s;

}

#daire3:hover{
    padding: 15px;
    background-color: greenyellow;
    cursor: pointer;
    transition: 0.4s;

}



p{
    font-size: 10px;
    color: #fff;
    text-align: center;
}

.card:hover .hero{
    transition: 0.5s;
    transform: scale(1.1)
}
